<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" shutdownHook="disable">

	<Appenders>
		<File name="MyFile" fileName="logs/app.log">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- <SMTP name="Mail" subject="Error Log" to="speedpak1991@gmail.com" 
			from="speedpak1991+stackoverflowgit@gmail.com" -->
		<!-- smtpHost="localhost" smtpPort="25" bufferSize="50"> -->
		<!-- </SMTP> -->
	</Appenders>

	<Loggers>
		<Root level="info" />
		<Root level="trace" />
		<Root level="error" />
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</Configuration>